#page-actions {
  width: 100%;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  background: #F6F6F6;
  margin: 0;
}
#page-actions ul.items {
  margin: 1em;
  float: left;
}
#page-actions ul.items li {
  display: inline-block;
  margin: 0 0 0 1em;
  padding: 0;
}
#page-actions ul.items a {
  display: inline-block;
  padding: 3px 0;
  color: #5A5A5A;
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: normal;
  opacity: 0.5;
  border-bottom: 2px solid orangered;
}
#page-actions ul.items a:hover {
  text-decoration: none;
  opacity: 0.75;
}
#page-actions ul.items a.checked {
  opacity: 1;
  border-bottom-color: green;
}
#page-actions .form-actions {
  margin: 1em;
  float: right;
}
#page-actions .form-actions input {
  display: inline-block;
  padding: 4px 17px;
  color: #5A5A5A;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  line-height: normal;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#page-actions .form-actions input,
#page-actions .form-actions a {
  margin: 0 0 0 1em;
}
